<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1>YOUR ORDER: </h1>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter a burger you want to eat">
        <div class="input-group-append">
          <button id="submit" class="btn btn-outline-secondary" type="button">Submit</button>
        </div>
      </div>
      <ul class="list-burgers">
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          <span>&nbsp;&nbsp;</span>{{burger_name}}<button class="btn btn-outline-warning devour hoverEffect"
            data-id="{{id}}">DEVOUR
            IT!</button>
        </li>
        <hr>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-4 bg"></div>
    <div class="col-sm-4 bg2">
      <h1>Eaten Burgers: </h1>
      <ul class="eatenburgers">
        {{#each burgers}}
        {{#if devoured}}
        <li> <span>&nbsp;&nbsp;</span>{{burger_name}}</li>
        <hr>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>